<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        #new_bet_form{
            margin-left: 40%;
        }
    </style>
</head>
<p><a href="/logout">Logout</a></p>
<p><a href="/account/@ViewBag.userInSession.UserId">Dashboard</a></p>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Wager Watcher</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="/account/@ViewBag.user">Account</a>
                    </li>
                    <li>
                        <a href="/betform">Propose Wager</a>
                    </li>
                    <li>
                        <a href="/account/@ViewBag.user">View Bets</a>
                    </li>
                    <li>
                        <a href="/mymessages/@ViewBag.user">My Messages</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <h1>Propose a New Wager!</h1>

@model Bet
<span asp-validation-for="Title"></span><br>
<span asp-validation-for="Description"></span><br>
<span asp-validation-for="ClosingDate"></span><br>
<form id="new_bet_form" asp-action="AddBet" asp-controller="Home" method="post">

    <label asp-for="Title"></label><br>
    <input asp-for="Title">
    <br>

    <label asp-for="Description"></label><br>
    <input asp-for="Description">
    <br>

    <label asp-for="Amount"></label><br>
    <input asp-for="Amount">
    <br>


    <label asp-for="ClosingDate"></label><br>
    <input asp-for="ClosingDate" class="selector">
    <br>

    <input type="hidden" name="UserId" value="@ViewBag.user">

    <input type="submit" value="Post Bet">
</form>