<h1>List of my sent messages</h1>
@foreach(var mes in ViewBag.listOfMySentMessages)
{
    @if(mes.SenderDelete == true)
    {
        <h5>@mes.Info</h5>
        <a href="/senderdelete/@mes.UserMessageId">Delete Message</a>
    }

}

<h1>List of my received messages</h1>
@foreach(var rec in ViewBag.listOfMyReceivedMessages)
{
    @if(rec.ReceiverDelete == true)
    {
        <h5>@rec.Sender.FirstName</h5>
        <p>@rec.Info</p>
        <a href="/receiverdelete/@rec.UserMessageId">Delete Message</a>
    }

}