
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/jquery-1.11.1.min.js"></script>

    <style>
        body{
            background-color: white;
        }
        .alert-message {
            margin: 20px 0;
            padding: 20px;
            border-left: 3px solid #eee;
            width: 600px;
            margin-top:80px;
            font-family: "Roboto", sans-serif;
        }

        .alert-message h4 {
            margin-top: 0;
            margin-bottom: 5px;
        }

        .alert-message p:last-child {
            margin-bottom: 0;
        }

        .alert-message code {
            background-color: #fff;
            border-radius: 3px;
        }

        .alert-message-success {
            background-color: #F4FDF0;
            border-color: #766dff;
        }

        .alert-message-success h4 {
            color: #766dff;
        }

        .alert-message-danger {
            background-color: #fdf7f7;
            border-color: #d9534f;
        }

        .alert-message-danger h4 {
            color: #d9534f;
        }

        .alert-message-warning {
            background-color: #fcf8f2;
            border-color: #f0ad4e;
        }

        .alert-message-warning h4 {
            color: #f0ad4e;
        }

        .alert-message-info {
            background-color: #f4f8fa;
            border-color: #5bc0de;
        }

        .alert-message-info h4 {
            color: #5bc0de;
        }

        .alert-message-default {
            background-color: #EEE;
            border-color: #B4B4B4;
        }

        .alert-message-default h4 {
            color: #000;
        }

        .alert-message-notice {
            background-color: #FCFCDD;
            border-color: #BDBD89;
        }

        .alert-message-notice h4 {
            color: #444;
        }
        
        .navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    font-size: 12px;
}


.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
}
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Wager Watcher</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="account/{@ViewBag.User.UserId}">Account</a>
                    </li>
                    <li>
                        <a href="/betform">Propose Wager</a>
                    </li>
                    <li>
                        <a href="/account">View Bets</a>
                    </li>
                    <li>
                        <a href="/mymessages/@ViewBag.User.UserId">My Messages</a>
                    </li>
                    <li>
                      <a href ="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="alert-message alert-message-success">
                    <h1>Messages Sent</h1>
                    @foreach(var mes in ViewBag.listOfMySentMessages)
                    {
                    <h5>@mes.Info</h5>
                    <a href="/deleteusermessage/@mes.UserMessageId">Delete Message</a>
                    }
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="alert-message alert-message-danger">
                        <h1>Messages Received</h1>
                        @foreach(var rec in ViewBag.listOfMyReceivedMessages)
                        {
                        <h5>@rec.Sender.FirstName</h5>
                        <p>@rec.Info</p>
                        <a href="/deleteusermessage/@rec.UserMessageId">Delete Message</a>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
